<div class="container m-2">
    <h1>Please enter the following information</h1>

    <form method="POST" action="/decrypt">
        <div class="form-group">
            <label for="password">Encrypted Password</label>
            <input type="password" name="password" class="form-control" id="password"
                placeholder="Please enter your encrypted password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>

    </form>
</div>