<div class="container text-center mt-5">
    <h2>Uh Oh</h2>
    <h3 class="alert-danger">
        {{message}}
    </h3>

    <a href="/encrypt" class="btn btn-primary">
        Try Again?
    </a>
</div>