<div class="container text-center mt-5 ">

    <h1>
        <i class="material-icons">lock</i> Encrypt and Decrypt your password <i class="material-icons">lock</i>
    </h1>

    <div class="btn-group">
        <a href="/encrypt" style="color: white">><button class="btn btn-primary m-2">Encrypt</button> </a>
        <a style="color: white" href="/decrypt"> <button class="btn btn-primary m-2">Decrypt</button></a>
    </div>
</div>