<div class="container text-center mt-5">
    <h1>
        Encrypt and Decrypt your password
    </h1>

    <div class="btn-group">
        <button class="btn btn-primary m-2"><a style="color: white" href="/encrypt">Encrypt</a></button>
        <button class="btn btn-primary m-2"><a style="color: white" href="/decrypt">Decrypt</a></button>
    </div>
</div>