<div class="container text-center mt-5">
    <h1>
        Your Encrypted Password is
    </h1>
    <h3 class="alert-success">
        {{message}}
    </h3>

    <a href="/encrypt" class="btn btn-success">
        Encrypt Another Password
    </a>
</div>